.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
  }
  
  .login-container h2, .login-container p {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
  }