.tasks-container {
  width: 80%;
  margin: 2rem auto;
  font-family: sans-serif;
}

.tasks-container p, .tasks-container h1 {
  color: black;
}

.tasks-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
  justify-content: center;
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 100%;
}

.task-card h3 {
  margin-top: 0;
  color: #333;
}

.task-card p {
  color: #666;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination-controls button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  margin: 0 10px;
}

.crud-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.crud-buttons .edit-btn {
  background-color: #ffc107;
}

.crud-buttons .delete-btn {
  background-color: #f44336;
  color: white;
}

.add-task-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.modal-content p {
  color: #000000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h2 {
  color: #000000;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f44336;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Add this line */
}

.modal-actions {
  text-align: right;
}

.modal-actions button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: #4caf50;
  color: white;
}

.modal-actions button:last-child {
  background-color: #f44336;
  color: white;
}

.modal-actions-hidden {
  display: none;
}

.logout-btn {
  color: white;
}