.error-box {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
  }
  
  .error-box p {
    margin: 0;
    flex-grow: 1;
  }
  
  .error-box .close-button {
    background: none;
    border: none;
    color: #721c24;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .error-box .close-button:hover {
    color: #490e13;
  }
  
  .error-ulist {
    flex-grow: 1; 
    margin: 0; 
    padding-left: '20px';
    list-style: none;
  }

  .error-list {
    margin-bottom: '5px';
  }