.tasks-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
  justify-content: center;
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 100%;
}

.task-card h3 {
  margin-top: 0;
  color: #333;
}

.task-card p {
  color: #666;
}



.crud-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.crud-buttons .edit-btn {
  background-color: #ffc107;
}

.crud-buttons .delete-btn {
  background-color: #f44336;
  color: white;
}
